@{
    Layout = "~/Views/MasterPage.cshtml";
}

@section head
{
    <link rel="stylesheet" href="~/Assets/Css/Apolice/Adesao.css" type="text/css">
}

<head>
</head>

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Adesão</h1>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Dados Produto</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
                    <button type="button" class="btn btn-tool" data-widget="remove"><i class="fas fa-remove"></i></button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Produto</label>
                            <input type="text" class="form-control" placeholder="Nome do Produto" disabled>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Campanha</label>
                            <input type="text" class="form-control" placeholder="Campanha" disabled>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Valor</label>
                            <input type="text" class="form-control" placeholder="Valor" disabled>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Agente</label>
                            <input type="text" class="form-control" placeholder="Nome Agente" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Dados Dependentes</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
                    <button type="button" class="btn btn-tool" data-widget="remove"><i class="fas fa-remove"></i></button>
                </div>
            </div>
            <div class="card-body">
                <h5 class="mb-2">Cônjuge</h5>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Nome </label>
                                <input type="text" class="form-control" placeholder="Nome Cônjuge">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Data Nascimento </label>
                                <input oninput="mascara(this, 'data')" type="text" class="form-control" placeholder="Data Nascimento Cônjuge">
                            </div>
                        </div>
                        <div id="linha"></div>
                    </div>
                </div>
                <h5 class="mb-2">Filho(s)</h5>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table" id="products-table">

                                <tr>
                                    <td>
                                        <label>Nome</label>
                                        <input type="text" class="form-control" placeholder="Nome Filho(a)" name="first_name" />
                                    </td>
                                    <td>
                                        <label>Data de Nascimento</label>
                                        <input oninput="mascara(this, 'data')" type="text" class="form-control" placeholder="Data Nascimento Filho" name="last_name" />
                                    </td>
                                </tr>
                            </table>
                            <div class="float-right">
                                <button class="btn btn-primary" id="addLinha" type="button"><i class="fas fa-arrow-down" aria-hidden="true"></i> Filha(o)</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="card card-primary">

            <div class="card-header">
                <h3 class="card-title">Dados Beneficiário</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
                    <button type="button" class="btn btn-tool" data-widget="remove"><i class="fas fa-remove"></i></button>
                </div>
            </div>
            <div class="card-body">
                <div id="tableBeneficiario">
                    <div class="row" style="border-bottom: 1px solid rgba(0,0,0,0.2); margin:5px;">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Nome</label>
                                <input type="text" class="form-control" placeholder="Nome do Beneficiário">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Doc. Identificação</label>
                                <input type="text" class="form-control rg-beneficiario" placeholder="Doc. Identificação">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Data Nascimento</label>
                                <input oninput="mascara(this, 'data')" class="form-control" placeholder="dd/mm/aaaa">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Sexo</label>
                                <select class="form-control">
                                    <option>Feminino</option>
                                    <option>Masculino</option>
                                    <option>Outro</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label>Grau de parentesco</label>
                                <input type="text" class="form-control" max="100" placeholder="Grau">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Porcentagem(%) do Beneficiário</label>
                                <input type="number" class="form-control" placeholder="Porcentagem">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="float-right">
                    <button class="btn btn-primary" id="addLinhaBeneficiario" type="button"><i class="fas fa-arrow-down" aria-hidden="true"></i> Beneficiáiro(o)</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Dados Caminhão</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
                    <button type="button" class="btn btn-tool" data-widget="remove"><i class="fas fa-remove"></i></button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Modelo</label>
                            <select class="form-control">
                                <option>-------</option>
                                <option>Volks-24250</option>
                                <option>Volks-8150</option>
                                <option>Mercedes-710</option>
                                <option>Volvo-FH 460</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Já existe seguro?</label>
                            <select class="form-control">
                                <option>Sim</option>
                                <option>Não</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Qual empresa seguro/assistência? </label>
                            <select class="form-control">
                                <option>-------</option>
                                <option>option 1</option>
                                <option>option 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Veículo próprio ou financiado? </label>
                            <select class="form-control">
                                <option>-------</option>
                                <option>Própio</option>
                                <option>Fianciado</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Quantidade Viagens</label>
                            <select class="form-control">
                                <option>-------</option>
                                <option>Até 5</option>
                                <option>5 a 10</option>
                                <option>Acima de 10</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Entregas Carga</label>
                            <select class="form-control">
                                <option>-------</option>
                                <option>Municipal</option>
                                <option>Intermunicipal</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Renda Líquida</label>
                            <select class="form-control">
                                <option>-------</option>
                                <option>Até 5000</option>
                                <option>De 5001 até 10000</option>
                                <option>Acima 10000</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Já precisou de assistência médica de urgência em períodos de viagem</label>
                            <select class="form-control">
                                <option>Sim</option>
                                <option>Não</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Dados Caminhoneiro</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
                    <button type="button" class="btn btn-tool" data-widget="remove"><i class="fas fa-remove"></i></button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>CPF</label>
                            <input type="text" id="cpfcnpj" name="cpfcnpj" class="form-control" placeholder="CPF" required>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Nome Caminhoneiro</label>
                            <input type="text" class="form-control" placeholder="Nome Caminhoneiro" required>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Data Nascimento</label>
                            <input oninput="mascara(this, 'data')" class="form-control" placeholder="dd/mm/aaaa" required>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Sexo</label>
                            <select class="form-control">
                                <option>Feminino</option>
                                <option>Masculino</option>
                                <option>Outro</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Estado Civil</label>
                            <select class="form-control">
                                <option>Casada(o)</option>
                                <option>Divorciada(o)</option>
                                <option>Solteira(o)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>E-mail</label>
                            <input type="email" class="form-control" placeholder="E-mail" required>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>CEP</label>
                            <input oninput="mascara(this, 'cep')" type="text" class="form-control" placeholder="CEP" required>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Endereço</label>
                            <input type="text" class="form-control" placeholder="Endereço" required>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Número</label>
                            <input type="text" class="form-control" placeholder="Número" required>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Complento</label>
                            <input type="text" class="form-control" placeholder="Complento">
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Bairro</label>
                            <input type="text" class="form-control" placeholder="Bairro" required>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Cidade</label>
                            <input type="text" class="form-control" placeholder="Cidade" required>
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <div class="form-group">
                            <label>UF</label>
                            <input type="text" class="form-control" placeholder="UF" required>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Telefone Fixo</label>
                            <input type="text" class="form-control telefone" placeholder="(DDD)+NÚMERO">
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Telefone Celular</label>
                            <input id="celular1" name="celular1" type="text" class="form-control telefone" placeholder="(DDD)+NÚMERO" required>
                            <input id="whatsapp1" type="checkbox" name="whatsapp1" value="" />
                            <label for="whatsapp1" style="cursor:pointer;">
                                WhatsApp
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Telefone Celular(2)</label>
                            <input id="celular2" name="celular2" type="text" class="form-control telefone" placeholder="(DDD)+NÚMERO">
                            <input id="whatsapp2" type="checkbox" name="whatsapp2" value="" />
                            <label for="whatsapp2" style="cursor:pointer;">
                                WhatsApp
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Telefone Celular(3)</label>
                            <input id="celular3" name="celular3" type="text" class="form-control telefone" placeholder="(DDD)+NÚMERO">
                            <input id="whatsapp3" type="checkbox" name="whatsapp3" value="" />
                            <label for="whatsapp3" style="cursor:pointer;">
                                WhatsApp
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Vínculo</label>
                            <select class="form-control">
                                <option>Sindicato</option>
                                <option>Associação</option>
                                <option>Rodobens</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Usuário</label>
                            <select class="form-control">
                                <option>option 1</option>
                                <option>option 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Como Prefere ser conectado?</label>
                            <select class="form-control">
                                <option>WhatsApp</option>
                                <option>E-mail</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Dados Pagamento</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
                    <button type="button" class="btn btn-tool" data-widget="remove"><i class="fas fa-remove"></i></button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Meio de Pagamento</label>
                                <select class="form-control">
                                    <option>----------------</option>
                                    <option value="um">Cartão de Crédito</option>
                                    <option>Conta Digital</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="minhaDiv" style="display:none">
                        <div class="card-body">
                            <div class="row">

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Número do cartão</label>
                                        <input type="text" class="form-control" placeholder="Número do cartão" required>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="form-group">
                                        <label>Nome no cartao</label>
                                        <input type="text" class="form-control" placeholder="Nome no cartao" required>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Data de expiração</label>
                                        <input type="text" class="form-control" placeholder="Data de expiração" required>
                                    </div>
                                </div>

                                <div class="col-lg-1">
                                    <div class="form-group">
                                        <label>CVV</label>
                                        <input type="text" class="form-control" placeholder="CVV" required>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Parcelamento</label>
                                        <select class="form-control">
                                            <option>12x50</option>
                                            <option>12x80</option>
                                            <option>12x120</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-primary">
                                Salvar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="modal-primary">
    <div class="modal-dialog">
        <div class="modal-content bg-primary">
            <div class="modal-header">
                <h4 class="modal-title">Sucesso!</h4>
            </div>
            <div class="modal-body">
                <p>Apólice 0000000001 efetivada com sucesso!</p>
            </div>
            <div class="modal-footer float-lg-right">
                <button type="button" class="btn btn-outline-light"
                        onclick="location.href='@Url.Action("ConsultarApolice", "Apolice")'">
                    Ok
                </button>

            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="~/Assets/Js/Apolice/Adesao.js"></script>
}
