
@{

    ViewBag.Title = "Adesao";
    Layout = "~/Views/MasterPage.cshtml";
}
<head>
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
</head>

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Adesão</h1>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Dados Produto</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
                    <button type="button" class="btn btn-tool" data-widget="remove"><i class="fas fa-remove"></i></button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Produto</label>
                            <input type="text" class="form-control" placeholder="Nome do Produto" disabled>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Campanha</label>
                            <input type="text" class="form-control" placeholder="Campanha" disabled>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Valor</label>
                            <input type="text" class="form-control" placeholder="Valor" disabled>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Agente</label>
                            <input type="text" class="form-control" placeholder="Nome Agente" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Dados Caminhoneiro</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
                    <button type="button" class="btn btn-tool" data-widget="remove"><i class="fas fa-remove"></i></button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Nome Caminhoneiro</label>
                            <input type="text" class="form-control" placeholder="Nome Caminhoneiro" required>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>CPF</label>
                            <input type="text" id="cpfcnpj" name="cpfcnpj" class="form-control" placeholder="CPF" required>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Data Nascimento</label>
                            <input oninput="mascara(this, 'data')" class="form-control" placeholder="dd/mm/aaaa" required>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Sexo</label>
                            <select class="form-control">
                                <option>Feminino</option>
                                <option>Masculino</option>
                                <option>Outro</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Estado Civil</label>
                            <select class="form-control">
                                <option>Casada(o)</option>
                                <option>Divorciada(o)</option>
                                <option>Solteira(o)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>E-mail</label>
                            <input type="email" class="form-control" placeholder="E-mail" required>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>CEP</label>
                            <input oninput="mascara(this, 'cep')"  type="text" class="form-control" placeholder="CEP" required>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Endereço</label>
                            <input type="text" class="form-control" placeholder="Endereço" required>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Número</label>
                            <input type="text" class="form-control" placeholder="Número" required>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Complento</label>
                            <input type="text" class="form-control" placeholder="Complento">
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Bairro</label>
                            <input type="text" class="form-control" placeholder="Bairro" required>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Cidade</label>
                            <input type="text" class="form-control" placeholder="Cidade" required>
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <div class="form-group">
                            <label>UF</label>
                            <input type="text" class="form-control" placeholder="UF" required>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Telefone Fixo</label>
                            <input  type="text" class="form-control telefone" placeholder="(DDD)+NÚMERO">
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Telefone Celular</label>
                            <input  type="text"class="form-control telefone" placeholder="(DDD)+NÚMERO" required>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Telefone Celular(2)</label>
                            <input type="text" class="form-control telefone" placeholder="(DDD)+NÚMERO" required>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Canal de Vendas</label>
                            <select class="form-control">
                                <option>Sindicato</option>
                                <option>Associação</option>
                                <option>Rodobens</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Usuário</label>
                            <select class="form-control">
                                <option>option 1</option>
                                <option>option 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Como Prefere ser conectado?</label>
                            <select class="form-control">
                                <option>WhatsApp</option>
                                <option>E-mail</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Dados Dependentes</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
                    <button type="button" class="btn btn-tool" data-widget="remove"><i class="fas fa-remove"></i></button>
                </div>
            </div>
            <div class="card-body">
                <h5 class="mb-2">Cônjuje</h5>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Nome </label>
                                <input type="text" class="form-control" placeholder="Nome Cônjuje">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Data Nascimento </label>
                                <input  oninput="mascara(this, 'data')" type="text" class="form-control" placeholder="Data Nascimento Cônjuje">
                            </div>
                        </div>
                        <div id="linha"></div>
                    </div>
                </div>
                <h5 class="mb-2">Filho(s)</h5>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table" id="products-table">

                                <tr>
                                    <td>
                                        <label>Nome</label>
                                        <input type="text" class="form-control" placeholder="Nome Filho(a)" name="first_name" />
                                    </td>
                                    <td>
                                        <label>Data de Nascimento</label>
                                        <input  oninput="mascara(this, 'data')" type="text" class="form-control" placeholder="Data Nascimento Filho" name="last_name" />
                                    </td>
                                </tr>
                            </table>
                            <div class="float-right">
                                <button class="btn btn-primary" id="addLinha" type="button"><i class="fas fa-arrow-down" aria-hidden="true"></i> Filha(o)</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Dados Caminhão</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
                    <button type="button" class="btn btn-tool" data-widget="remove"><i class="fas fa-remove"></i></button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Modelo</label>
                            <select class="form-control">
                                <option>-------</option>
                                <option>Volks-24250</option>
                                <option>Volks-8150</option>
                                <option>Mercedes-710</option>
                                <option>Volvo-FH 460</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Já existe seguro?</label>
                            <select class="form-control">
                                <option>Sim</option>
                                <option>Não</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Qual empresa seguro/assistência? </label>
                            <select class="form-control">
                                <option>-------</option>
                                <option>option 1</option>
                                <option>option 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Veículo próprio ou financiado? </label>
                            <select class="form-control">
                                <option>-------</option>
                                <option>Própio</option>
                                <option>Fianciado</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Quantidade Viagens</label>
                            <select class="form-control">
                                <option>-------</option>
                                <option>Até 5</option>
                                <option>5 a 10</option>
                                <option>Acima de 10</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Entregas Carga</label>
                            <select class="form-control">
                                <option>-------</option>
                                <option>Municipal</option>
                                <option>Intermunicipal</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Renda Líquida</label>
                            <select class="form-control">
                                <option>-------</option>
                                <option>Até 5000</option>
                                <option>De 5001 até 10000</option>
                                <option>Acima 10000</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Já precisou de assistência médica de urgência em períodos de viagem</label>
                            <select class="form-control">
                                <option>Sim</option>
                                <option>Não</option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Dados Pagamento</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
                    <button type="button" class="btn btn-tool" data-widget="remove"><i class="fas fa-remove"></i></button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Meio de Pagamento</label>
                                <select class="form-control">
                                    <option>----------------</option>
                                    <option value="um">Cartão de Crédito</option>
                                    <option>Conta Digital</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="minhaDiv" style="display:none">
                        <div class="card-body">
                            <div class="row">

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Número do cartão</label>
                                        <input type="text" class="form-control" placeholder="Número do cartão" required>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="form-group">
                                        <label>Nome no cartao</label>
                                        <input type="text" class="form-control" placeholder="Nome no cartao" required>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Data de expiração</label>
                                        <input type="text" class="form-control" placeholder="Data de expiração" required>
                                    </div>
                                </div>

                                <div class="col-lg-1">
                                    <div class="form-group">
                                        <label>CVV</label>
                                        <input type="text" class="form-control" placeholder="CVV" required>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Parcelamento</label>
                                        <select class="form-control">
                                            <option>12x50</option>
                                            <option>12x80</option>
                                            <option>12x120</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-primary">
                                Salvar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="modal-primary">
    <div class="modal-dialog">
        <div class="modal-content bg-primary">
            <div class="modal-header">
                <h4 class="modal-title">Sucesso!</h4>
            </div>
            <div class="modal-body">
                <p>Apólice 0000000001 efetivada com sucesso!</p>
            </div>
            <div class="modal-footer float-lg-right">
                <button type="button" class="btn btn-outline-light"
                        onclick="location.href='@Url.Action("ConsultarApolice", "Apolice")'">
                    Enviar
                </button>

            </div>
        </div>
    </div>
</div>


<script src="~/dist/js/adminlte.min.js"></script>
<script src="~/dist/js/demo.js"></script>


<script src="jquery-3.4.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.1/jquery.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script>
    $(document).ready(function () {
        var contador = 1;
        //adiciona nova linha
        $("#addLinha").on("click", function () {

            var newRow = $("<tr>");
            var cols = "";
            cols += '<td><input type="text" class="form-control" placeholder="Nome Filho(a)" name="first_name" /></td>';
            cols += '<td><input  oninput="mascara(this, "data")" type="text" class="form-control" placeholder="Data Nascimento Filho" name="last_name" /></td>';
            cols += '<td><a class=" deleteLinha nav-icon far fa-arrow-alt-circle-up"></a></td>';
            newRow.append(cols);

            $("#products-table").append(newRow);
        });
        //remove linha
        $("#products-table").on("click", "a.deleteLinha", function (event) {
            $(this).closest("tr").remove();
        });
    });

    var maskCpfOuCnpj = IMask(document.getElementById('cpfcnpj'), {
        mask: [
            {
                mask: '000.000.000-00',
                maxLength: 11
            },
            {
                mask: '00.000.000/0000-00'
            }
        ]
    });


</script>

<style>
    td {
        padding: 100px;
    }

    .tdEspaco {
        display: table;
        float: left;
        margin-right: 18px;
    }

    table {
        border-spacing: 50px;
    }

    .deleteLinha {
        color: blue;
        cursor: pointer;
    }
</style>

<script>
    function Mostrar(el) {
        var display = document.getElementById(el).style.display;
        if (display == "none")
            document.getElementById(el).style.display = 'block';
    }
    function Esconder(el) {
        var display = document.getElementById(el).style.display;
        if (display == "block")
            document.getElementById(el).style.display = 'none';
    }

    $("select").on("change", function () {
        var valor = $(this).val();   // aqui vc pega cada valor selecionado com o this
        if (valor == "um")
            var c = Mostrar("minhaDiv");
        else
            var e = Esconder("minhaDiv");
    })

</script>







