@model List<Caminhoneiro.ViewModel.ProdutoViewModel>
@section head
{
    <link rel="stylesheet" href="~/Assets/Css/Apolice/Produto.css" type="text/css">
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Produtos</h1>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-7">
                    <!-- small box -->
                    <div class="small-box @item.Cor">
                        <div class="inner">
                            <h3>@item.Nome</h3>
                            <p>Planos</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-medkit"></i>
                        </div>
                        @foreach (var itemValor in item.Valores)
                        {
                            <a href="@Url.Action("Adesao", "Apolice")" class="small-box-footer">R$ @itemValor <i class="fas fa-arrow-circle-right"></i></a>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@section scripts
{
    <script src="~/Assets/Js/Apolice/Produtos.js"></script>
}