td {
    padding: 100px;
}

.tdEspaco {
    display: table;
    float: left;
    margin-right: 18px;
}

table {
    border-spacing: 50px;
}

.deleteLinha {
    color: blue;
    cursor: pointer;
}

label.error {
    font-size: 12px;
}

.hidden {
    display: none;
}

span.red {
    color: red;
    cursor: pointer;
    font-size: 22px;
    margin: auto;
    font-weight: bold;
}

.align-right {
    text-align: right;
}

.pa10 {
    padding: 10px;
}

.required::after {
    content:"*";
    display:inline-block;
    color:red;
}
