@model Caminhoneiro.Models.Cliente.ClienteDTO
@{
    ViewBag.Title = "ConsultarSegurado";
    Layout = "~/Views/MasterPage.cshtml";
}
@using (Html.BeginForm("ConsultarSegurado", "Segurado", FormMethod.Post))
{
    <section class="content">
        <div class="card-body">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">Consultar Cliente</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="invoice p-3 mb-3">
                <div class="col-lg-3">
                    <div class="form-group">
                        <center><label class="text-danger text-center">@ViewBag.Mensagem</label></center>
                        <label>CPF</label>
                        @Html.TextBoxFor(l => l.cpf, new { @class = "form-control", placeholder = "CPF", id = "cpfcnpj", name = "cpfcnpj" })
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label>NOME</label>
                        @Html.TextBoxFor(l => l.cpf, new { @class = "form-control", placeholder = "NOME" })
                    </div>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary">Consultar</button>
                    <button type="button" class="btn btn-primary"
                            onclick="location.href='@Url.Action("ConsultarSegurado", "Segurado")'">
                        <i class="fa fa-eraser" aria-hidden="true"></i> Limpar
                    </button>
                </div>
            </div>
        </div>
    </section>
}




