@model Caminhoneiro.ViewModel.ClienteApoliceViewModel
@{
    Layout = "~/Views/MasterPage.cshtml";
}

@section head
{
    <link rel="stylesheet" href="~/plugins/sweetalert2/sweetalert2.min.css">
    <link rel="stylesheet" href="~/Assets/Css/Segurado/KitProduto.css">
}

<section class="content">
    <div class="card-body">
        @using (Html.BeginForm("DadosCadastrais", "Segurado", FormMethod.Post, new { id = "TabSegurado" }))
        {
            if (Model != null)
            {
                <input type="hidden" name="Id" id="Id" value="@Model.Id" />
                <input type="hidden" name="CPF" id="CPF" value="@Model.CPF" />
                <input type="hidden" name="ApoliceId" id="ApoliceId" value="@Model.ApoliceId" />
            }
            <ul class="nav nav-tabs" id="custom-content-above-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="tabSegurado" role="tab" aria-selected="true" href="#">
                        Segurado <i class="fas fa-user"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tabProdutos" role="tab" aria-selected="false" href="#">
                        Produtos <i class="fa fa-list-alt"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="tabKit" role="tab" aria-selected="false" href="#">
                        Kit Produto <i class="fas fa-id-badge"></i>
                    </a>
                </li>
            </ul>
        }
        <div class="tab-custom-content">
            <p class="lead mb-0">Kit do Produto</p>
        </div>
        <div class="card card-primary card-outline">
            @using (Html.BeginForm("SolicitarKitProduto", "Segurado", FormMethod.Post, new { id = "KitSegurado" }))
            {
                <input type="hidden" name="ApoliceId" id="ApoliceId" value="" />
                <input type="hidden" name="UsuarioId" id="UsuarioId" value="" />
                <input type="hidden" name="EnviadoPorId" id="EnviadoPorId" value="" />
                <input type="hidden" name="EnviarApolice" id="EnviarApolice" value="" />
                <input type="hidden" name="EnviarCartao" id="EnviarCartao" value="" />
                <div class="card-body">
                    <p class="lead mb-0">Selecione para Reenviar:</p>
                    <div class="tab-custom-content">

                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="DocApolice">
                        <label class="custom-control-label" for="DocApolice">Apolice(CPF)</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="Digital">
                        <label class="custom-control-label" for="Digital">Cartão Digital</label>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-custom-content">
                        <p class="lead mb-0">Clique para reenviar:</p>
                    </div>
                    <a href="#" class="SolicitaEnvio" data-item="1"><img src="/dist/img/whatsapp-logo.png" width="50" height="50" alt="..." class="img-thumbnail toastrDefaultInfo"></a>
                    <a href="#" class="SolicitaEnvio" data-item="2"><img src="/dist/img/icone-emai.png" width="50" height="50" alt="..." class="img-thumbnail toastrDefaultInfo"></a>
                </div>
            }
        </div>
    </div>
</section>

@section scripts
{
    <script src="~/plugins/fastclick/fastclick.js"></script>
    <script src="~/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/plugins/toastr/toastr.min.js"></script>
    <script src="~/Assets/Js/Segurado/KitProduto.js"></script>
}



